<!DOCTYPE html>
<html>
    <head>
    {% if title %}
        <title>{{ title }} | {{ brand }}</title>
    {% else %}
        <title>{{ brand }}</title>
    {% endif %}
    {% block head %}
    {% endblock head %}
    <!-- external js STARTS -->
        <link rel="stylesheet" href="fontawesome/css/all.css">
        <link rel="stylesheet" href="css/layout.css">
        <link rel="stylesheet" href="css/login.css">
        <script src="js/jquery.min.js"></script>
        <script src="js/general.js"></script>
    <!-- external js ENDS -->
    </head>
    <body class="loggedin">
        <nav class="navtop">
            <div> 
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('index') }}">
                    <i class="fas fa-sign-in-alt"></i> Login
                </a>
                <a href="{{ url_for('register') }}">
                    <i class="fas fa-address-card"></i> Register
                </a>
                {% else %}
                <a href="{{ url_for('index') }}">
                    <i class="fas fa-home"></i> Home
                </a>
                <a href="{{ url_for('charts') }}">
                    <i class="fas fa-chart-bar"></i> Charts 
                </a>
                <a href="{{ url_for('profile', uname=current_user.username) }}">
                    <i class="far fa-id-card"></i> Profile
                </a>
                <a href="{{ url_for('log_out') }}">
                    <i class="fas fa-sign-out-alt"></i> Log out
                </a>
                {% endif %}
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="content">
        {% block body %}{% endblock body %}
        </div>
    </body>
</html>