<!DOCTYPE html>
<html>
    <head>
    {% if title %}
        <title>{{ title }} - Thien's website</title>
    {% else %}
        <title>Welcome to Thien's website</title>
    {% endif %}
    </head>
    <body>
        <div>
            Quick Menu:
            <span>
                <a href="{{ url_for('index') }}">Home</a> |
            </span>
            {% if current_user.is_anonymous %}
            <span>
                <a href="{{ url_for('login') }}">Login</a> |
            </span>
            <span>
                <a href="{{ url_for('sign_up') }}">Sign Up</a>
            </span>
            {% else %}
            <span>
                <a href="{{ url_for('log_out') }}">Log out</a>
            </span>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock body %}
    </body>
</html>