{% extends 'layout.html' %}

{% block body %}
<div>
    <div class="user-avt">
        <img src="{{ user.avatar(128) }}">
        {% if user.fullname %}
        <div><b style="font-size: 28px;">{{ user.fullname }}</b></div>
        {% else %}
        <div><b style="font-size: 28px;">{{ user.username }}</b></div>
        {% endif %}
        {% if user.about_me %}
        <div>{{ user.about_me }}</div>
        {% else %}
        <div>Welcome to my profile</div>
        {% endif %}
        <br>
        <hr><br>
    </div>
    {% if current_user.is_anonymous %}
    <div>New user? <a href="{{ url_for('register') }}">Register now</a></div>
    {% else %}
    <div>User: {{ current_user.username }} - UID: {{ current_user.id }}</div>
    <div>Your email: {{ current_user.email }}</div>
    <div>Your password: {{ current_user.password_hash }}</div>
    {% endif %}
    <div>
        <br>
        {% for post in posts %}
        {% include '_post.html' %}
        {% endfor %}
    </div>
</div>
{% endblock body %}